.input-wrapper {
  min-height: 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding: 16px;
  background-color: rgb(43, 42, 42);
  border: 2px solid white;
  overflow-wrap: anywhere;
  text-align: right;
}

.result {
  flex: 1;
  font-size: 0.8rem;
}
.text {
  flex: 1;
  font-size: 1rem;
  color: white;
}

.result p {
  color: gray;
  font-size: 0.9rem;
}
