.input-wrapper {
  min-height: 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding: 16px;
  background-color: rgb(43, 42, 42);
  overflow-wrap: anywhere;
  text-align: right;
}

.result {
  flex: 1;
  font-size: 0.8rem;
}


.result p {
  color: gray;
  font-size: 0.9rem;
}

.error-text{
  color: #C25959;
  font-size: 0.9rem;
  text-align: left;
}
.result-text{
  color: #71D45B;
}

input{
  text-align: right;
  background-color: rgb(43, 42, 42);
  border: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  margin-bottom: 1.5rem;
  outline:none;
}
