body {
    background-color: black;
    font-family: hack;
  }
  
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .calc-wrapper {
    background-color: white;
    width: 380px;
    
  }
  
  .row {
    display: flex;
  }

  