body {
    background-color: rgb(51, 51, 51);
    font-family: hack;
  }
  
  .App {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .calc-wrapper {
    box-shadow: 10px 10px 20px;
    width: 380px;
    
  }
  
  .row {
    display: flex;
  }

  .mistakes{
    display: flex;
  }